@font-face {
  font-family: 'proxima_nova_ltlight';
  src: url('../fonts/proxima_nova_light-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/proxima_nova_regular-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('../fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_thextrabold';
  src: url('../fonts/proxima_nova_extrabold-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_blblack';
  src: url('../fonts/proxima_nova_black-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Main layout styles */   

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'proxima_nova_rgregular';
  font-size: 15px;
  font-style: normal;
  color: #ffffff;
}

.container {
  overflow: hidden;
  position: relative;
  width: 960px;
  margin: 0 auto;
}

h2 {
  font-family: 'proxima_nova_rgbold';
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 24px;
  padding-top: 36px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

strong {
  font-family: 'proxima_nova_thextrabold';
}

a.button {
  display: block;
  width: 326px;
  height: 66px;
  font-family: 'proxima_nova_rgbold';
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
}

::-webkit-scrollbar {
    width: 4px;
    padding-right: 9px
}

::-webkit-scrollbar-track {
    background: #fff
}

::-webkit-scrollbar-thumb {
    color: #ffa800;
    background: #ffa800
}

/* Header */

.header {
  min-height: 80px;
  background-color: #ffffff;
}

.header .container {
  min-height: 80px;
}

.header__logo {
  float: left;
}

.header__logo img {
  display: block;
  width: auto;
  max-width: 109px;
  height: auto;
  max-height: 55px;
  margin-top: 10px;
}

.header__menu {
  float: right;
  margin-top: 22px;
}

.header__menu li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 27px;
}

.header__menu li:last-child {
  margin-right: 0;
}

.header__menu li::after {
  position: absolute;
  top: 0;
  right: -16px;
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #ff8c00;
}

.header__menu li:last-child::after {
  display: none;
}

.header__menu-link {
  display: block;
  font-family: 'proxima_nova_rgbold';
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ff8c00;
  border-bottom: 1px dashed transparent;
  transition: all 0.5s;
}

.header__menu-link:hover {
  border-bottom: 1px dashed #ff8c00;
}

.header__link {
  position: absolute;
  right: 0;
  bottom: 10px;
}

.header__link a {
  color: #6b8e23;
}

/* Promo */

.promo {
  min-height: 590px;
  padding-bottom: 40px;
  background-image: linear-gradient(to right, #39A9B5, #A8D9DE);
  background-repeat: no-repeat;
  color: #ffffff;
}

.promo .container {
  background-image: url("../images/1400x500.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.promo p,
.promo ul {
  width: 520px;
  font-size: 22px;
  line-height: 24px;
}

.promo p {
  margin-bottom: 24px;
}

.promo p > strong {
  display: block;
  font-family: 'proxima_nova_thextrabold';
  font-size: 46px;
  line-height: 62px;
  margin-bottom: 46px;
  padding-top: 48px;
}

.promo ul {
  list-style-type: disc;
  margin-bottom: 50px;
  padding-left: 50px;
}

.promo ul > li {
  margin-bottom: 6px;
}

.promo a.button {
  text-decoration: none;
  color: #ffffff;
  border: 3px solid #ffffff;
  transition: all 0.3s;
}

.promo a.button:hover {
  border: 3px solid #ff8c00;
  background-color: #ff8c00;
}

/* How-it-work */

.how-it-work {
  min-height: 700px;
  padding-bottom: 40px;
  background-color: #808080;
  color: #ffffff;
}

.how-it-work__item {
  position: relative;
  width: 50%;
  font-family: 'proxima_nova_rgbold';
  font-size: 22px;
  line-height: 28px;
  padding-bottom: 30px;
}

.how-it-work__item--left {
  float: left;
  text-align: right;
  margin-left: 1px;
  padding-right: 64px;
  border-right: 2px solid #ffffff;
}

.how-it-work__item--right {
  float: right;
  margin-right: 1px;
  padding-left: 64px;
  border-left: 2px solid #ffffff;
}

.how-it-work__item:last-child {
  border: none;
}

.how-it-work__item::before {
  position: absolute;
  top: 0;
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  background-color: #808080;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.how-it-work__item--left::before {
  right: -34px;
}

.how-it-work__item--right::before {
  left: -34px;
}

.how-it-work__item::after {
  position: absolute;
  top: 12px;
  content: "";
  display: block;
  width: 45px;
  height: 45px;
  background-image: url("../images/sprite.fw.png");
  background-color: #ffffff;
  border-radius: 50%;
}

.how-it-work__item--left::after {
  right: -23px;
}

.how-it-work__item--right::after {
  left: -23px;
}

.how-it-work__item--1::after {
  background-position: -7px -7px;
}

.how-it-work__item--2::after {
  background-position: -57px -7px;
}

.how-it-work__item--3::after {
  background-position: -107px -7px;
}

.how-it-work__item--4::after {
  background-position: -156px -7px;
}

.how-it-work__item--5::after {
  background-position: -205px -8px;
}

.how-it-work__item span,
.how-it-work__item ol {
  display: block;
  font-family: 'proxima_nova_rgregular';
  font-size: 15px;
  line-height: 22px;
}

.how-it-work__item ol {
  padding-left: 30px;
}

.how-it-work__item ol > li {
  margin-bottom: 5px;
}

.how-it-work__item ol > li:first-child {
  margin-top: 16px;
}

/* Benefits */

.benefits {
  overflow: hidden;
  color: #696969;
}


/* Price */

.price {
  min-height: 590px;
  background-image: linear-gradient(to right, #39A9B5, #A8D9DE);
  background-repeat: no-repeat;
  color: #ffffff;
}

/* Integrations */

.integrations {
  color: #696969;
}

/* Footer */

.footer {
  background-color: #a9a9a9;
}