@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/proxima_nova_regular-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('../fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_thextrabold';
  src: url('../fonts/proxima_nova_extrabold-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Main layout styles */   

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'proxima_nova_rgregular';
  font-size: 15px;
  font-style: normal;
  color: #ffffff;
}

.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

section {
  padding-bottom: 40px;
}

h2 {
  font-family: 'proxima_nova_rgbold';
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 24px;
  padding-top: 36px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

strong {
  font-family: 'proxima_nova_thextrabold';
}

a.button {
  display: block;
  width: 326px;
  height: 66px;
  font-family: 'proxima_nova_rgbold';
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
}

::-webkit-scrollbar {
    width: 4px;
    padding-right: 9px
}

::-webkit-scrollbar-track {
    background: #fff
}

::-webkit-scrollbar-thumb {
    color: #ffa800;
    background: #ffa800
}

/* Header */

.header {
  min-height: 80px;
  background-color: #ffffff;
}

.header .container {
  min-height: 80px;
}

.header__logo {
  float: left;
}

.header__logo img {
  display: block;
  width: auto;
  max-width: 109px;
  height: auto;
  max-height: 55px;
  margin-top: 10px;
}

.header__menu {
  float: right;
  margin-top: 22px;
}

.header__menu--button {
  display: none;
}

.header__menu li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 27px;
}

.header__menu li:last-child {
  margin-right: 0;
}

.header__menu li::after {
  position: absolute;
  top: 0;
  right: -16px;
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #ff8c00;
}

.header__menu li:last-child::after {
  display: none;
}

.header__menu-link {
  display: block;
  font-family: 'proxima_nova_rgbold';
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ff8c00;
  border-bottom: 1px dashed transparent;
  transition: all 0.5s;
}

.header__menu-link:hover {
  border-bottom: 1px dashed #ff8c00;
}

.header__link {
  position: absolute;
  right: 0;
  bottom: 10px;
}

.header__link a {
  color: #6b8e23;
}

.header__link a:hover {
  opacity: 0.7;
}

/* Promo */

.promo {
  min-height: 590px;
  background-image: linear-gradient(to right, #39A9B5, #A8D9DE);
  background-repeat: no-repeat;
  color: #ffffff;
}

.promo .container {
  background-image: url("../images/1400x500.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.promo p,
.promo ul {
  width: 520px;
  font-size: 22px;
  line-height: 24px;
}

.promo p {
  margin-bottom: 24px;
}

.promo p > strong {
  display: block;
  font-family: 'proxima_nova_thextrabold';
  font-size: 46px;
  line-height: 62px;
  margin-bottom: 46px;
  padding-top: 48px;
}

.promo ul {
  list-style-type: disc;
  margin-bottom: 50px;
  padding-left: 50px;
}

.promo ul > li {
  margin-bottom: 6px;
}

.promo a.button {
  text-decoration: none;
  color: #ffffff;
  border: 3px solid #ffffff;
  transition: all 0.3s;
}

.promo a.button:hover {
  border: 3px solid #ff8c00;
  background-color: #ff8c00;
}

/* How-it-work */

.how-it-work {
  min-height: 700px;
  background-color: #808080;
  color: #ffffff;
}

.how-it-work ul {
  overflow: hidden;
}

.how-it-work__item {
  position: relative;
  width: 50%;
  font-family: 'proxima_nova_rgbold';
  font-size: 22px;
  line-height: 28px;
  padding-bottom: 30px;
}

.how-it-work__item--left {
  float: left;
  text-align: right;
  margin-left: 1px;
  padding-right: 64px;
  border-right: 2px solid #ffffff;
}

.how-it-work__item--right {
  float: right;
  margin-right: 1px;
  padding-left: 64px;
  border-left: 2px solid #ffffff;
}

.how-it-work__item:last-child {
  border: none;
}

.how-it-work__item::before {
  position: absolute;
  top: 0;
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  background-color: #808080;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.how-it-work__item--left::before {
  right: -34px;
}

.how-it-work__item--right::before {
  left: -34px;
}

.how-it-work__item::after {
  position: absolute;
  top: 12px;
  content: "";
  display: block;
  width: 45px;
  height: 45px;
  background-image: url("../images/sprite.fw.png");
  background-color: #ffffff;
  border-radius: 50%;
}

.how-it-work__item--left::after {
  right: -23px;
}

.how-it-work__item--right::after {
  left: -23px;
}

.how-it-work__item--1::after {
  background-position: -7px -7px;
}

.how-it-work__item--2::after {
  background-position: -57px -7px;
}

.how-it-work__item--3::after {
  background-position: -107px -7px;
}

.how-it-work__item--4::after {
  background-position: -156px -7px;
}

.how-it-work__item--5::after {
  background-position: -205px -8px;
}

.how-it-work__item span,
.how-it-work__item ol {
  display: block;
  font-family: 'proxima_nova_rgregular';
  font-size: 15px;
  line-height: 22px;
}

.how-it-work__item ol {
  padding-left: 30px;
}

.how-it-work__item ol > li {
  margin-bottom: 5px;
}

.how-it-work__item ol > li:first-child {
  margin-top: 16px;
}

/* Benefits */

.benefits {
  color: #696969;
}

.benefits__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 188px;
  line-height: 20px;
  text-align: center;
  padding: 20px 10px;
  background-color: #8fbc8f;
  color: #ffffff;
}

.benefits__item p:last-child {
  margin-top: 35px;
}

.benefits__item p > strong {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 188px;
  font-family: 'proxima_nova_rgregular';
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 160px;
}

.benefits__item p > strong::after {
  position: absolute;
  left: 14px;
  bottom: 0;
  content: "";
  display: block;
  background-image: url("../images/sprite.fw.png");
}

.benefits__item--1 p > strong::after {
  left: 27px;
  width: 114px;
  height: 150px;
  background-position: -4px -56px;
}

.benefits__item--2 p > strong::after {
  width: 140px;
  height: 140px;
  background-position: -122px -62px;
}

.benefits__item--3 p > strong::after {
  width: 140px;
  height: 139px;
  background-position: -269px -57px;
}

.benefits__item--4 p > strong::after {
  width: 139px;
  height: 140px;
  background-position: -416px -57px;
}

.benefits__item--5 p > strong::after {
  width: 140px;
  height: 140px;
  background-position: -562px -57px;
}

/* Price */

.price {
  min-height: 590px;
  background-image: linear-gradient(to right, #39A9B5, #A8D9DE);
  background-repeat: no-repeat;
  color: #ffffff;
}

.price h3 {
  position: relative;
  font-family: 'proxima_nova_thextrabold';
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 40px;
}

.price h3 > span {
  display: block;
  font-family: 'proxima_nova_rgregular';
  font-size: 15px;
  line-height: 18px;
}

.price h3::after {
  position: absolute;
  bottom: -17px;
  left: calc(50% - 25px);
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #ffffff;
}

.price__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 49%;
  text-align: center;
  padding-top: 230px;
}

.price__item::before {
  position: absolute;
  top: 0;
  content: "";
  display: block;
  background-image: url("../images/sprite.fw.png");
}

.price__item--startup::before {
  left: calc(50% - 95px);
  width: 189px;
  height: 199px;
  background-position: -8px -215px;
}

.price__item--business::before {
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  background-position: -205px -215px;
}

.price__item  ul {
  margin-bottom: 40px;
}

.price__item li {
  margin-bottom: 5px;
}

.price__item p {
  font-family: 'proxima_nova_rgbold';
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 10px;
}

.price section {
  width: 300px;
  margin: 0 auto;
  padding-bottom: 0;
}

.price section > ul {
  list-style-type: disc;
  padding-left: 30px;
  margin-bottom: 30px;
}

.price section > ul li {
  margin-bottom: 7px;
}

.price section > p {
  margin-bottom: 10px;
}

.price section > p strong {
  font-family: 'proxima_nova_rgbold';
  font-size: 22px;
  line-height: 26px;
}

.price section + p {
  text-align: center;
}

.price a.button {
  text-decoration: none;
  margin: 0 auto;
  margin-top: 40px;
  color: #ffffff;
  border: 3px solid #ffffff;
  transition: all 0.3s;
}

.price a.button:hover {
  border: 3px solid #ff8c00;
  background-color: #ff8c00;
}

/* Integrations */

.integrations {
  color: #696969;
}

.integrations section {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 0;
}

.integrations__payment {
  width: 360px;
  margin-right: 115px;
}

.integrations__cms {
  width: 480px;
}

.integrations h3 {
  font-size: 23px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 36px;
}

.integrations li {
  display: inline-block;
  vertical-align: top;
  width: 113px;
  height: 112px;
  margin-right: 5px;
  margin-bottom: 6px;
  border: 1px solid #e4e6ec;
}

.integrations__payment ul > li:nth-child(3n+3) {
  margin-right: 0;
}

.integrations__cms ul > li:nth-child(4n+4) {
  margin-right: 0;
}

.integrations__inner {
  display: table-cell;
  vertical-align: middle;
  width: 113px;
  height: 112px;
  text-align: center;
}

/* Footer */

.footer {
  min-height: 100px;
  padding-top: 32px;
  background-color: #a9a9a9;
}

.footer a {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer a:hover {
  opacity: 0.7;
}

.footer a.footer-link--homepage {
  margin-right: 95px;
}

.footer a.footer-link--support {
  text-decoration: none;
  margin-right: 70px;
}

.footer a.footer-link--social {
  position: relative;
  top: -10px;
  display: inline-block;
  vertical-align: top;
  width: 42px;
  height: 39px;
  font-size: 0;
  background-image: url("../images/social/telegram_rHQsEPH.png");
}


@media screen and (max-width: 1024px) {

  .container {
    width: 690px;
  }

  /* Header */

  .header__menu li {
    margin-right: 15px;
  }

  .header__menu li::after {
    right: -10px;
  }

  /* Promo */

  .promo p > strong {
    margin-bottom: 110px;
  }

  /* Benefits */

  .benefits ul {
    text-align: center;
  }

  .benefits__item {
    margin-bottom: 15px;
  }

  /* Integrations */

  .integrations {
    text-align: center;
  }

  .integrations__payment {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .integrations h3 {
    margin-bottom: 20px;
  }

}


@media screen and (max-width: 749px) {

  .container {
    width: 320px;
  }

  /* Header */

  .header__menu ul {
    display: none;
  }

  .header__menu--visible ul {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 320px;
    height: 360px;
    text-align: center;
    padding-top: 90px;
    background-color: #ffffff;
    z-index: 2;
  }

  .header__menu--visible li {
    width: 320px;
    margin-bottom: 15px;
    margin-right: 0;
  }

  .header__menu--visible .header__menu-link:hover {
    color: #6b8e23;
    border-bottom: 1px solid transparent;
  }

  .header__menu--visible li::after {
    display: none;
  }

  .header__menu-button {
    float: right;
    position: relative;
    display: block;
    width: 28px;
    height: 20px;
    background-image: url("../images/sprite.fw.png");
    background-position: -263px -13px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .header__menu-button--close {
    width: 24px;
    height: 24px;
    background-position: -300px -11px;
    z-index: 3;
  }

  /* Promo */

  .promo {
    min-height: auto;
  }

  .promo .container {
    background-image: none;
  }

  .promo p, 
  .promo ul {
    width: 320px;
  }

  .promo p > strong {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
    padding-top: 30px;
  }

  /* How-it-work */

  .how-it-work__item {
    width: 280px;
    text-align: left;
  }

  .how-it-work__item--left,
  .how-it-work__item--right {
    float: none;
    margin-left: 35px;
  }

  .how-it-work__item--left {
    padding-left: 64px;
    padding-right: 0;
    border-left: 2px solid #ffffff;
    border-right: none;
  }

  .how-it-work__item--left::before {
    left: -34px;
    right: auto;
  }

  .how-it-work__item--left::after {
    left: -23px;
    right: auto;
  }

  /* Benefits */

  .benefits__item {
    
  }

}