@font-face {
  font-family: 'proxima_nova_ltlight';
  src: url('../fonts/proxima_nova_light-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/proxima_nova_regular-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('../fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_thextrabold';
  src: url('../fonts/proxima_nova_extrabold-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_blblack';
  src: url('../fonts/proxima_nova_black-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Main layout styles */   

* {
  box-sizing: border-box;
}

body {
  font-family: 'proxima_nova_rgregular';
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: #000;
}

.container {
  overflow: hidden;
  position: relative;
  width: 960px;
  margin: 0 auto;
}

h2 {
  font-family: 'proxima_nova_blblack';
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

strong {
  font-family: 'proxima_nova_thextrabold';
}

::-webkit-scrollbar {
    width: 4px;
    padding-right: 9px
}

::-webkit-scrollbar-track {
    background: #fff
}

::-webkit-scrollbar-thumb {
    color: #ffa800;
    background: #ffa800
}

/* Header */

.header {
  min-height: 80px;
  background-color: #ffffff;
}

.header .container {
  min-height: 80px;
}

.header__logo {
  float: left;
  margin-left: 30px;
}

.header__logo img {
  display: block;
  width: auto;
  max-width: 109px;
  height: auto;
  max-height: 55px;
  margin-top: 10px;
}

.header__menu {
  float: right;
  margin-top: 10px;
}

.header__menu li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 27px;
}

.header__menu li:last-child {
  margin-right: 0;
}

.header__menu li::after {
  position: absolute;
  top: 0;
  right: -16px;
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #ff8c00;
}

.header__menu li:last-child::after {
  display: none;
}

.header__menu-link {
  display: block;
  font-family: 'proxima_nova_rgbold';
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ff8c00;
  border-bottom: 1px dashed transparent;
  transition: all 1s;
}

.header__menu-link:hover {
  border-bottom: 1px dashed #ff8c00;
}

.header__link {
  position: absolute;
  right: 0;
  bottom: 10px;
}

.header__link a {
  color: #6b8e23;
}

/* Promo */

.promo {
  background: linear-gradient(to right, #39A9B5, #A8D9DE);
  color: #ffffff;
}